.main{
    font-size: small;
    /* font-weight: lighter; */
    /* position: fixed; */
    position: relative;
    /* top: 100px; */
    background-color: #ffff;
    /* padding: 10px; */
    /* padding: 0px 25px 0px 25px; */
}
.secondmain{
 padding-left: 60px;
 padding-right: 0px;   
}
